

<h2 class="title-equipement">Equipements</h2>
<div id="equipment">
    <button type="button" data-index="1" class="btn-modal"></button>
    <button type="button" data-index="2" class="btn-modal"></button>
    <button type="button" data-index="3" class="btn-modal"></button>
    <button type="button" data-index="4" class="btn-modal"></button>
    <video id="rotate" src="./assets/eqp-5.mp4" controls width="370" height="400"></video>
    <button type="button" data-index="6" class="btn-modal"></button>
    <video id="rotate" src="./assets/eqp-7.mp4" controls width="370" height="400"></video>
    <video id="rotate" src="./assets/eqp-8.mp4" controls width="370" height="400"></video>
    <video id="rotate" src="./assets/eqp-9.mp4" controls width="370" height="400"></video>
</div>
<div class="bloc-modal">
    <div class="bloc-img">
       <img src="../../assets/eqp-1.jpg" alt=""> 
        <button class="close">X</button> 
    </div>
</div>
