



<form [formGroup]="angForm" (ngSubmit)="postdata(angForm)" autocomplete="off" >
    <div class="login">
        <h2 class="login-header">Log in</h2>
        <div class="login-container">
<div class="form-group">
<label for="email">Email</label>
<input type="email" name="email" formControlName="email" autocomplete="off" class="form-control input-sm" placeholder="Email">
</div>
<div class="form-group">
<label for="Password">Password</label>
<input type="password" name="Password" formControlName="password" autocomplete="off" class="form-control input-sm" placeholder="Password">
</div>
<p><input type="submit" value="Log in"></p>
        </div>
    </div>
</form>








