
   <nav>
    <div class="nav-wrapper grey darken-4">
      <i class="material-icons left">
        fitness_center
    </i>
      <a routerLink="home" routerLinkActive="active" class="brand-logo mylogo">LOTFIT</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li> <a class="nav-link" *ngIf="loginbtn" routerLink="home" routerLinkActive="active"><i class="material-icons left">
          home</i>Home</a></li>
        <li >
        <a class="nav-link" *ngIf="loginbtn" routerLink="login" routerLinkActive="active">Login<i class="material-icons right">
          login
          </i></a>
        </li>
        <li >
        <a class="nav-link"  *ngIf="logoutbtn" class="btn btn-block" (click)="logout()">logout<i class="material-icons right">
          logout
          </i></a>
        </li>
        
        <li >
        <a class="nav-link" *ngIf="loginbtn" routerLink="registration" routerLinkActive="active">Registration<i class="material-icons right">
          group_add
          </i></a>
        </li>
        <li>
        <a class="nav-link" *ngIf="logoutbtn" routerLink="dashboard" routerLinkActive="active">Dashboard</a>
        </li>
        <li>
          <a class="nav-link" *ngIf="logoutbtn" routerLink="comment" routerLinkActive="active">commentaires</a>
          </li>
        </ul>

    </div>
  </nav>
  
  
 

  
  
  <router-outlet></router-outlet>