<div id="home" class="hero">
    <div class="home-left">
        <h3>Coaching professionnel</h3>
        <p>Atteignez vos objectifs.</p>
        <p>Votre corps peut presque tout faire.</p>
        <p>C'est votre tete qui a besoin d'en etre convaincue.</p>
        <div class="btn-hero">
            <a class="btn-home b1" routerLink="/equipement" routerLinkActive="active">Equipement</a>

            <a href="/contactus" class="btn-home b2" >Contact</a>
        </div>
    </div>
    <div class="home-right"></div>
</div>
