

<form [formGroup]="angForm" (ngSubmit)="postdata(angForm)" autocomplete="off" >
    <div class="login">
        <h2 class="login-header">register</h2>
        <div class="login-container">
<div class="form-group">
<label for="name">Name</label>
<input type="text" name="name" formControlName="name" autocomplete="off" class="form-control input-sm" placeholder="Name">
</div>
<div class="form-group">
<label for="email">Email</label>
<input type="email" name="email" formControlName="email" autocomplete="off" class="form-control input-sm" placeholder="Email">
</div>
<div class="form-group">
<label for="Password">Password</label>
<input type="password" name="Password" formControlName="password" autocomplete="off" class="form-control input-sm" placeholder="Password">
</div>
<p><input type="submit" value="resgister"></p>
</div>
</div>
</form>

